@import 'normalize.css';
@import 'variables.scss';
@import 'queries.scss';

@font-face {
  font-family: 'Gotham Pro';
  src: url('/fonts/gothampro.ttf');
}

* {
  box-sizing: border-box;
}

body {
  font-family: Gotham Pro, Verdana, Tahoma, sans-serif;
  background-color: $mainBackgroundColor;
}

@mixin timer-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 120px;
  background-color: $timerBackgroundColor;
}

@mixin button-style {
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

#app {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  // height: 100vh;
}

.container {
  display: grid;
  grid-template-rows: auto;
  column-gap: 50px;
  row-gap: 45px;
  margin: 72px 0;
}

.timer {
  @include timer-style;

  &__time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: $primaryColor;
    height: 50%;
    width: 100%;
    border-bottom: solid 1px $primaryColor;
  }

  &__time-container.timer_running {
    color: $secondaryColor;
    border-color: $secondaryColor;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    height: 50%;
  }

  &__button {
    @include button-style;
  }

  &__pause {
    display: none;
  }

  &__start-icon {
    fill: $primaryColor;
  }

  &__start-icon.timer_running {
    fill: $secondaryColor;
  }

  &__pause-icon {
    fill: $primaryColor;
  }

  &__pause-icon.timer_running {
    fill: $secondaryColor;
  }

  &__stop-icon {
    fill: $primaryColor;
  }

  &__stop-icon.timer_running {
    fill: $secondaryColor;
  }
}

.add-timer {
  @include timer-style;

  &__button {
    @include button-style;
  }

  &:hover {
    &__icon {
      fill: $secondaryColor;
    }
  }
}

.add-timer:hover {
  cursor: pointer;

  .add-timer__icon {
    fill: $secondaryColor;
  }
}

.add-timer__icon {
  fill: $primaryColor;
}
