@import 'normalize.css';
@import 'variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: $mainBackgroundColor;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100vh;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 225px;
  height: 120px;
  background-color: $timerBackgroundColor;

  .timer__time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $mainItemsColor;
    height: 50%;
    width: 100%;
    border-bottom: solid 1px $mainItemsColor;
  }

  .timer__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    height: 50%;
  }

  .timer__button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    cursor: pointer;
  }

  .timer__start {
    background-image: url('../icons/play.svg');
  }

  .timer__pause {
    display: none;
    background-image: url('../icons/pause.svg');
  }

  .timer__stop {
    background-image: url('../icons/stop.svg');
  }
}

.add-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 120px;
  background-color: $timerBackgroundColor;

  .add-timer__button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    cursor: pointer;
    background-image: url('../icons/plus.svg');
  }
}

.add-timer:hover {
  cursor: pointer;
}
