@import 'normalize.css';
@import 'variables.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: $mainBackgroundColor;
}

@mixin timer-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 120px;
  background-color: $timerBackgroundColor;
}

@mixin button-style {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

#app {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 50px;
  row-gap: 45px;
}

.timer {
  @include timer-style;

  &__time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: $primaryColor;
    height: 50%;
    width: 100%;
    border-bottom: solid 1px $primaryColor;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    height: 50%;
  }

  &__button {
    @include button-style;
  }

  &__start {
    background-image: $startButtonIcon;
  }

  &__pause {
    display: none;
    background-image: $pauseButtonIcon;
  }

  &__stop {
    background-image: $stopButtonIcon;
  }
}

.add-timer {
  @include timer-style;

  &__button {
    @include button-style();
    background-image: $plusButtonIcon;
  }
}

.add-timer:hover {
  cursor: pointer;
}
